<?xml version="1.0" encoding="utf-8" ?>
<xml>
    <page>
        <name>轻站</name>
        <type>qm-json</type>
        <list>
            <item>
                <name>丝瓜影视(首页可以翻页)</name>
                <info>测试123</info>
                <version>1</version>
                <sign>a75f71597c78221110660b533ff43cc5</sign>
                <url>qm-json/丝瓜影视(首页可以翻页).json</url>
            </item>
        </list>
    </page>
    <page>
        <name>脚本</name>
        <type>js</type>
        <list>
            <item>
                <name>Eruda</name>
                <info>Eruda 是一个专为手机网页前端设计的调试面板，类似 DevTools 的迷你版，其主要功能包括：捕获 console 日志、检查元素状态、捕获XHR请求、显示本地存储和 Cookie 信息等等。</info>
                <version>2.3.3</version>
                <url>js/eruda.js</url>
            </item>
        </list>
    </page>
    <page>
        <name>Adblock规则</name>
        <type>ad</type>
        <list>
            <item>
                <name>EasyList</name>
                <info></info>
                <version>5</version>
                <url>adblock/easylist.xml</url>
            </item>
            <item>
                <name>EasyList China</name>
                <info></info>
                <version>5</version>
                <url>adblock/easylistchina.xml</url>
            </item>
            <item>
                <name>X浏览器拦截规则国内版本</name>
                <info>x浏览器针对国内版本的内建规则，由官方统一维护</info>
                <version>5</version>
                <url>adblock/core-rule-cn.xml</url>
            </item>
            <item>
                <name>XBrowser core Ad-Rules </name>
                <info></info>
                <version>5</version>
                <url>adblock/xb_core_rule.xml</url>
            </item>
        </list>
    </page>
</xml>



